.section {
background-color: var(--background-start-rgb);

}

.container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: flex-end;
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    z-index: 2;
}

.link {
    color: var(--color-header-text);
    margin: 10px 5px;
}
.link:last-child {
    margin-right: 10px;
}