.text_notary {
  font-size: 16px;
  font-weight: 700;
  color: #dcdcdc;
  text-align: center;
  background-color: #665d52;
  background-color: #363636c5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.4),
    1px 4px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 250ms;
  padding: 30px 0;
  margin: 50px 0;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    font-weight: 700;
  }

  @media screen and (min-width: 1200px) {
    font-size: 28px;
    font-weight: 700;
    padding: 30px 80px;
  }
}
.text_notary:hover {
  color: #f7ba06;
  background-color: #36363696;
}
