.section {
  display: block;
  margin: auto 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.contact {
  display: flex;
}

.contact :first-child {
  margin-bottom: 5px;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.contact__item {
  display: flex;
  margin: auto 0;
}

.contact__icon {
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  fill: #ffffff; 
}

.contact__text {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: auto 0;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.contact:hover .contact__text,
.contact:hover .contact__icon {
  transition-duration: 250ms;
  color: #f7ba06;
  fill: #f7ba06;
}
