.section {
  display: block;
  margin: auto 0;
}

.contact {
  display: flex;
}

.contact :first-child {
  margin-bottom: 15px;
}

.contact__item {
  display: flex;
  margin: auto 0;
}

.contact__icon {
  margin: auto 0;
  margin-right: 15px;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.contact__text {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.contact:hover .contact__text,
.contact:hover .contact__icon {
  transition-duration: 250ms;
  color: #f7ba06;
  fill: #f7ba06;
}
