.section {
background-color: var(--background-start-rgb);

}

.container {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    margin: 0 auto;
    
}

.container a {
    color: var(--color-header-text);
    color: #fff;
    margin: 10px 5px;
    padding: 3px;
    border-radius: 50%;     
}

.container a:hover
.container a:focus
 {
    outline: 1px solid #f7ba06;
    transition: transform 250ms linear; 
    }

    
  .active {
    color: var(--background-start-rgb);
    background-color: #f7bb068b;
    /* outline: 1px solid #f7bb06fe; */
    /* transform: scale(0.9); */
    transition: transform 250ms linear;
   
} 