.section {
    position: absolute;
    top: calc(100% / 2 - 150px);
    left: 0;
    z-index: 3;
}

.list {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(240, 248, 255, 0.4);
    padding: 7px;

 
}
.item {
     gap: 10px;
     list-style: none;
     margin-bottom: 10px;
}

.item:last-child {
    margin-bottom: 0;
}

.icon__svg {
    display: block;
    display: none;
    width: 48px;
    height: 48px;
    outline: solid 2px #f7ba06;
    outline: solid 2px rgb(43, 255, 0);
    padding: 8px;
    border-radius: 50%;
    stroke: #f7ba06;
    stroke: rgb(43, 255, 0);
    fill: #f7ba06;
    fill: rgb(43, 255, 0);  
}

.icon {
    display: none;
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 1px;
}

.item:hover .icon {
 display: block;
 display: none;
 transition-duration: 250ms;   
}
.item:hover .icon__svg {
    display: none;
    display: block;
    transition-duration: 250ms;
} 
