.section {
    display: block;
    max-width: 1200px;
    margin:0 auto;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
     
    }
    @media screen and (min-width: 1200px) {
      
    }

}


.container {
  width: auto;
    display: flex;
    width: calc(100% - 50px);
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 30px;


      @media screen and (min-width: 768px) {
        /* width: calc(100% - 100px); */
        font-size: 24px;        
      }
  }
  
  .title {
    display: inline;
    font-size: 18px;
    color: #f7ba06;
    margin-left: 5px;
    text-align: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: max-content;
      font-size: 24px;
      
    }
    @media screen and (min-width: 1200px) {
      font-size: 32px;
      margin-left: 15px;
    }
    
  }

  .map__icon {
    width: 50px;
    height: 42px;
    fill: #f7cb06;
    stroke: #f7ba06;
    @media screen and (min-width: 768px) {
      width: 36px;
    height: 36px;
      
    }

}

.metro_icon {
fill: rgb(21, 255, 0);
width: 18px;
  height: 18px;
  margin: 0 0 -3px;
@media screen and (min-width: 768px) {
  width: 24px;
  height: 24px;
  margin: 0 0 -5px;
}
  @media screen and (min-width: 1200px) {
    width: 32px;
  height: 32px;
  margin: 0 0 -8px;
  }
}

.map {
  display: block;
  width: calc(100% - 20px);
 
  max-width: 500px;
    height: 300px;

     margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.4),
      1px 4px 6px rgba(0, 0, 0, 0.4);

      @media screen and (min-width: 768px) {
        width: calc(100% - 40px);
        max-width: 700px;
        height: 400px;  
       
            
      }

      @media screen and (min-width: 1200px) {
        width: 100% ;
        height: 500px;  
      }

    }

  .section:hover .title,
  .section:hover .map__icon {
      transition-duration: 250ms;
      color: #fff;
      stroke: rgb(43, 255, 0);
  }
