.section {
    display: block;
    max-width: 1200px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.4),
      1px 4px 6px rgba(0, 0, 0, 0.4); */
}


.container {
  display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
  font-size: 32px;
  color: #f7ba06;
  margin-left: 15px;
  text-align: center;
  align-items: center;
}

.map__icon {
    width: 42px;
    height: 42px;
    fill: #f7cb06;
}

.map {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.4),
      1px 4px 6px rgba(0, 0, 0, 0.4);
}

.section:hover .title,
.section:hover .map__icon {
    transition-duration: 250ms;
    color: #fff;
    fill: rgb(43, 255, 0);
}